# === AI PROVIDERS ===
GROQ_API_KEY=
ADMIN_EMAIL=
GEMINI_API_KEY=

# === CONVEX ===
NEXT_PUBLIC_CONVEX_URL=https://flippant-fly-628.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://flippant-fly-628.convex.site
CONVEX_DEPLOYMENT=flippant-fly-628
WORKER_API_KEY=7c4aabeb8d1e6c14424b4051eabd3251b707279c5d6e8f3a

# === OAUTH ===
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# === CLOUDINARY ===
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
